@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    /* AliceBlue / Light Blue */
    --foreground: 240 70% 15%;
    /* Dark Blue for text */

    --card: 0 0% 100%;
    --card-foreground: 240 70% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 70% 15%;

    --primary: 240 100% 27%;
    /* Deep Blue */
    --primary-foreground: 0 0% 100%;
    /* White */

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 20% 98%;
    /* Lighter gray for services bg */
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 39 100% 50%;
    /* Orange */
    --accent-foreground: 0 0% 100%;
    /* White */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 39 100% 50%;
    /* Orange for rings */
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 100% 27%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 39 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 39 100% 50%;
  }
}

@layer base {
  * {
    @apply border-[hsl(var(--border))];
  }

  body {
    @apply bg-background text-foreground;
  }
}